#start{
    text-align: center;
    margin: 0 auto;
    position: absolute;
   height: 40px;
   width: 90px;
   background-color: rgb(153, 57, 153);
}
#messageHeader{
  height: 75px;
  width: 100%;
  background-color: #B49082;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 10px;
}
*{
    margin: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Nerko One', cursive;
    background-color: #D6C3C9;
  
  }
#screenImage{
    height: 500px;
    width:500px;
}
a {
    text-decoration: none;
    color: white;
  }